<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.itsc.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <display-name>Authentication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.itsc.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.itsc.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskUpdateServlet</display-name>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <servlet-class>com.itsc.TaskUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskUpdateServlet</servlet-name>
    <url-pattern>/TaskUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskDeleteServlet</display-name>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <servlet-class>com.itsc.TaskDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskDeleteServlet</servlet-name>
    <url-pattern>/TaskDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTaskServlet</display-name>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>com.itsc.EditTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/EditTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.itsc.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.itsc.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskStatus</display-name>
    <servlet-name>UpdateTaskStatus</servlet-name>
    <servlet-class>com.itsc.UpdateTaskStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskStatus</servlet-name>
    <url-pattern>/UpdateTaskStatus</url-pattern>
  </servlet-mapping>
</web-app>